<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Opération terminée</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-5">Opération terminée</h1>
                <hr/>
                <p>{{ message }}</p>
            </div>
        </div>
    </div>
</body>
</html>
